*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  font-family: "vazir"!important;
  direction: rtl;
}

.sidebar{
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding:50px 0 ;
  background-color: purple;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.sidebar .sidebar-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.sidebar .sidebar-header img{
  position: absolute;
  top: 80px;
  width: 80px;
  height: 80px;
}
.sidebar .sidebar-header .close-btn{
  position: absolute;
  top: 0px;
  height: 60px;
  width: 100%;
  border: none;
  background-color: #630263;
  color: #ffff;
  font-size : 30px;
  cursor: pointer;
}

.sidebar .links{
  padding: 0 20px;
}
.sidebar .links li {
  padding:10px 0 ;
  display: flex;
  align-items: center;
}
.sidebar .links li a {
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
}
.sidebar .links li a svg {
  margin-left: 10px;
}

.sidebar-toggle{
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: purple;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;

}

.show-sidebar{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}